.about__title {
  @include default-style;
  width: 57%;
  margin-bottom: 40px;

  @include title-font;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.07em;
  color: $white;
}

.about__text {
  position: relative;
  @include default-style;
  width: 48%;
  margin: 0;
  margin-bottom: 42px;
  padding-left: 94px;

  font-family: PT Mono, "Arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  text-align: left;
  font-style: normal;
  color: $white;
}

.about__text::before {
  top: 17px;
  left: 0;

  background-color: $white;
  width: 66px;
  height: 2px;
  position: absolute;
  content: "";
}

.about__scroll {
  display: block;

  color: $white;

  transform: rotate(180deg);
  opacity: 0.5;

  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  writing-mode: vertical-lr;
}

@media (max-width: $tablet-width) {
  .about__scroll {
    display: none;
  }
}

  /*.about__title {
    width: 57%;
    margin-bottom: 40px;

    @include title-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.07em;
    color: $white;
  }
}*/
