.about-company {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include default-style;
}

.about-company::before {
  content: "";
  position: absolute;
  top: 55px;
  left: -30px;
  z-index: 3;

  background-image:url("../img/bg/bg_2005_desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 220px 317px;
}

.about-company__title {
  @include title-font;
  margin-bottom: 18px;

  line-height: 51px;
  text-align: left;

  color: $grey;
}

.about-company p {
  margin-bottom: 15px;


  font-size: 16px;
  line-height: 21.5px;
  text-align: left;

  color: $grey;
}
