.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: auto;
  @include default-style;
}

.advantages__item {
  width: 49%;
}

.advantages__title {
  @include title-font;
  font-size: 24px;
  line-height: 34px;
  text-align: left;

  color: #00b2ff;
}

.advantages__description {
  font-size: 16px;
  line-height: 22px;
  text-align: left;

  color: #666666;
}
