.contacts-list {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;

  @include default-style;
}

.contacts-list__item {
  margin-left: 88px;
}

.contacts-list__link {
  @include default-style;
  line-height: 18px;
  color: $white;
}

.contacts-list__link--mail {
  width: 19px;
  height: 14px;
}

.contacts-list__link--tel {
  width: 18px;
  height: 18px;
}

@media (max-width: $tablet-width) {
  .contacts-list__link {
    font-size: 0;
  }

  .contacts-list__item {
    margin-left: 6.4%;
  }

  .contacts-list__link--mail {
    width: 25px;
    height: 19px;
  }

  .contacts-list__link--tel {
    width: 24px;
    height: 24px;
  }
}
