.contacts-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include default-style;
}

.contacts-list__link {
  line-height: 18px;
  @include default-style;
  color: $white;
}
