.form {
  display: flex;
  flex-direction: row;
  @include default-style;

  padding-top: 96px;
  padding-right: 375px;
  padding-bottom: 113px;
  padding-left: 971px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 30%;
  max-width: 570px;
}

.form__title {
  @include default-style;
  margin-bottom: 7px;

  @include title-font;
  font-weight: 400;
  color: $white;
}

.form__wrapper p {
  @include default-style;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.form__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__list {
  @include default-style;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__item {
  width: 47.4%;
  height: 50px;
  margin-bottom: 40px;
}

.form__item:last-child {
  width: 570px;
  height: 143px;
  margin-bottom: 43px;
}

.form__input {
  display: flex;

  box-sizing: border-box;
  width: 100%;

  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 16px;

  background-color: rgba(256, 256, 256, 0.1);
  border: none;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $white;
  text-align: left;
  text-transform: none;
}

.form__textarea {
  display: flex;

  box-sizing: border-box;
  width: 570px;
  height: 143px;
  resize: none;

  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 16px;

  background-color: rgba(256, 256, 256, 0.1);
  border: none;
}

.form__textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $white;
  text-align: left;
  text-transform: none;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.form__agreement {
  display: flex;
  align-items: flex-end;
  @include default-style;
  width: 47.4%;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $white;
  text-align: left;
  text-transform: none;
}

.form__label {
  padding-left: 40px;
}
