.goods__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding-top: 90px;
  padding-right: 0;
  padding-bottom: 127px;

  width: 60%;
  max-width: 1170px;
}

.goods__list {
  display: flex;
  flex-direction: row;

  max-width: 1170px;

  @include default-style;
}

.goods__about {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 50px;

  @include title-font;

  font-size: 36px;
  line-height: 51px;

  color: $white;
}

.goods__item {
  position: relative;
  width: calc(33.3% - 20px);
  margin-right: 30px;

    &::after {
      position: absolute;

      content: "";
      position: absolute;

      right: 0;
      bottom: 0;

      width: 63px;
      height: 63px;

      background-color: $blue;
  }

    &::before {
      position: absolute;

      content: "";

      left: 89%;
      top: 95%;

      width: 4px;
      height: 4px;

      border: solid $white;
      border-width: 0 1px 1px 0;
      border-bottom-right-radius: 1px;
      transform: rotate(-45deg);
      z-index: 2;
  }
}

.goods__item:last-of-type {
  margin-right: 0;
}

.goods__title {
  position: relative;
  z-index: 2;
  @include title-font;
  margin: 0;
  padding-top: 53px;
  padding-left: 44px;
  padding-right: 150px;

  font-size: 20px;
  line-height: 30px;
  text-align: left;

  color: $white;
}

.goods__link {
  display: block;
  min-height: 620px;
}

.goods__link img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.2;
}
