.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 33px;
}

.nav__logo {
  width: 14,5%;
}

.nav__logo img {
  display: block;
  width: 202px;
  height: 52px;
}

.nav__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 47%;
}

.nav__contacts {
  width: 66%;
  margin-right: 7.5%;
}

.nav__call {
  margin-right: 0;
}
