.nav {
  display: flex;
  justify-content: space-between;
  width: 73.5%;
  margin: 0 auto;
  padding: 33px 0;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 73.5%;

  margin: 0 auto;
}

.nav__logo {
  width: 200px;
}

.nav__contacts {
  width: 655px;
}
