.page-header {
  background-image:
    url("../img/bg/bg_circuit_desktop@1x.png"),
    url("../img/bg/bg-triangle-header@1x.png"),
    url("../img/bg/bg-header-desktop@1x.png");
  background-color: $darkblue;
  background-repeat: no-repeat;
  background-position: calc(54.2% + 379px) 258px, 54% 13.4%, 0 0;
  background-size: auto, auto, cover;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1410px;
  margin: 0 auto;
  padding: 33px;
}

.page-header__nav__logo {
  margin-right: 30px;
}

.page-header__nav__wrapper {
  display: flex;
  flex-grow: 1;
}

.page-header__nav_button {
  margin: 0;
  margin-left: 4.3%;
}

.page-header__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1410px;
  margin: 0 auto;
  padding-top: 200px;
  padding-right: 33px;
  padding-bottom: 90px;
  padding-left: 33px;
}

@media (max-width: $tablet-width) {
  .page-header {
    background-image:
      url("../img/bg/bg_circuit_tablet@1x.png"),
      url("../img/bg/bg-triangle-header-tablet@1x.png"),
      url("../img/bg/bg-header-tablet@1x.png");
    background-color: $darkblue;
    background-repeat: no-repeat;
    background-position: 100% 113px, 100% 0, 0 0;;
    background-size: auto, auto, cover;
  }

  .page-header__nav {
    width: 76.4%;
    margin: 0 auto;
    padding: 20px;
  }

  .page-header__nav__logo {
    margin-right: 20px;
  }
}
