.page-main__wrapper {
    position: relative;
    background-color: $white;
    background-image: url("../img/bg/bg-triangle-header@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto;
  }

.page-main__advantages {
  display: flex;
  margin: 0 auto;
  padding-top: 110px;
  width: 60%;
}

.page-main__company {
  display: flex;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 110px;

  width: 60%;
}

.page-main__goods {
  width: 100%;
  background-color: $darkblue;
}

.page-main__question {
  width: 100%;
  background-color: $blue;
}
