.page-footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1920px;

  background-color: $footer-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 73.5%;
  max-width: 1412px;
  padding: 65px 255px 107px 253px;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 73.5%;
  max-width: 1412px;

  padding: 14px 255px 14px 253px;
}

.page-footer__copyright-years--top {
  font-size: 0;
}

.page-footer__logo {
  display: block;
}

.page-footer__connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-footer__social {
  @include default-style;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-footer__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
