.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: $footer-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 73.5%;
  max-width: 1412px;
  padding: 65px 255px 107px 253px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 54px;
}

.page-footer__connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 208px;
}

.page-footer__social {
  @include default-style;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__copyright-years--top {
  display: none;
}

.page-footer-contacts {
  display: flex;
  flex-direction: column;
}
