.popup {
  display: none;
  box-sizing: border-box;

  position: absolute;
  width: 490px;
  height: 605px;
  left: 715px;
  top: 136px;

  background: $blue;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 33px;
  padding-right: 39px;
  padding-bottom: 36px;
  padding-left: 39px;
}

.popup__wrapper h3 {
    @include default-style;
}

.popup__title {
  @include default-style;

  @include title-font;
  font-size: 28px;
  line-height: 39px;
  text-align: left;

  color: $white;
}

.popup-close {
  position: absolute;

  width: 16px;
  height: 16px;
  left: 453px;
  top: 20px;
}

.popup__wrapper p {
  @include total-font;

  max-width: 380px;
  margin-bottom: 25px;

  color: $white;
  text-align: left;
}

.popup__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 412px;
}

.popup__list {
  @include default-style;
}

.popup__item {
  @include default-style;
  margin-bottom: 30px;
}

.popup__input {
  display: flex;

  box-sizing: border-box;
  width: 412px;
  height: 52px;

  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 24px;

  background-color: rgba(256, 256, 256, 0.1);
  border: none;
}

.popup__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $white;
  text-align: left;
  text-transform: none;
}

.popup__textarea {
  display: flex;

  box-sizing: border-box;
  width: 412px;
  height: 104px;
  resize: none;

  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 25px;

  background-color: rgba(256, 256, 256, 0.1);
  border: none;
}

.popup__textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $white;
  text-align: left;
  text-transform: none;
}

.popup__label {
  display: flex;
  align-items: flex-start;
  width: 338px;

  padding-left: 64px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;

  color: $white;

  opacity: 0.8;

}
