body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "PT Mono", "Arial", sans-serif;
  @include total-font;
  color: $grey;
  text-align: center;
  text-transform: uppercase;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
