@mixin title-font {
  font-family: "Roboto Condensed";
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

@mixin total-font {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

@mixin default-style {
  margin: 0;
  padding: 0;

  list-style: none;
}
